@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@font-face {
    font-family: 'super_cottageregular';
    src: url('fonts/SuperCottage-woAZ2.ttf') format('truetype'),
         url('fonts/supercottage-woaz2-webfont.woff2') format('woff2'),
         url('fonts/supercottage-woaz2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-size:120px;
}

h2 {
  font-size:60px;
}
h3 {
  font-size:30px;
}
h4 {
  font-size:15px;
}


#newfont{
    font-family:'super_cottageregular';
}

* {
    margin: 0;
    padding: 0% 0% 0% 0%;
    box-sizing: border-box;
    font-family: 'super_cottageregular';
}

.logo {
    justify-content: center;
    display: flex;
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#header{
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding:  0px 0px 0px 0%;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6)

}

#navbar{
    display :flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    list-style: none;
    padding: 30% 0% 5% 2%;
}

#navbar li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #080052
}

#navbar li a.active::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088080;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*-----------------salelist-----------------*/
#salelist{
    font-size: 24px; 
}

/*-----------------footer-----------------*/

.footer{
    background:#000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 0px 0 4%;
}
.footer p{
    color: #8a8a8a;      
}

.footer h3{
    color: #FFFFFA;      
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom:20px;
}
.footer-col-1, .footer-col-2{
    flex-basis: 30%;
    text-align: center;
}

ul{list-style-type: none;}